@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary: #00A97F;
  --light: rgba(133, 198, 218, 255);
  --dark: rgba(13, 13, 10, 255);
  --darker: rgba(234, 157, 90, 255);
  --lighter: #cbd6cf;
  --lighter1: #c3dacc86;
  --lighter2: #e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #FF6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  color: var(--search);
  margin: 10px;
}

h2 {
  font-weight: 400;
  color: var(--primary1);
  font-size: 32px;
  margin: 10px;
}


a {
  font-weight: 500;
  text-decoration: inherit;
  transition: 0.5s ease;
}

a:hover {
  color: #535bf2;
}

p{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
  color: var(--primary1);
}


/*
Header css start
*/

.header-top-strip a {
  color: var(--primary1); 
}
button {
  padding: 12px 10px;
  font-size: 14px;
  background: var(--primary1);
  color: white;
  /* border-radius: 10px;
  border: 1px solid var(--lighter); */
}
.logo {
  max-width: 100%;
  height: 40px;
}

.input-group button {
  background: transparent;
  font-size: 14px;
  color: var(--search);
}
.header-upper{
  background: var(--lighter1);
}
.nav-links a{
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  

}

.social-icons a{
  color: var(--search);
}


.active{
  font-weight: 600;
  color: var(--primary); 
}

.inactive {
  color: var(--primary);
  font-weight: 400;

}

/*
Header css end
*/



/* footer */

footer{
  background-color: var(--lighter2);
}

.pay img{
  border-radius: 10px;
  transition: 0.5s ease;
}

.pay img:hover{
  transform: translateY(-8px );
 
}

.footer-details a{
color: var(--primary1 );
}




/* home css  */


.banner-details{
  background: url(../src/Images/back.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
}


/* HEro css */
span{
  font-size: 14px;
}

.hero-details img {
  width: 100%;
  height: 80px;
}
.hero-details .card {
 border-radius: 10px;
}

.featured-products .card img{
  border-radius: 20px;
}

.featured-products .card {
  border-radius: 20px;
  max-width: 250px;
 
}

.featured-products .card span {
  color: var(--darken);
}



.repair{
  background: url(../src/Images/banner/b2.jpg);
  background-position: center;
  background-size: cover;
  width: 87%;
  height: 30vh;
  margin-left: 100px;
  
 
}
button{
  border-radius: 10px;
}
.repair-details button {
  color: #fff;
  background-color: var(--darker);
  border: 1px solid transparent;
  transition: .5s ease;
}

.new-products .card img{
  border-radius: 20px;
  width: 100%;
  max-height: 200px;
}

.new-products .card {
  border-radius: 20px;
  max-width: 250px;
 
}

.new-products .card span {
  color: var(--darken);
}


.button-deals  {
  color: #fff;
  background-color: var(--darker);
  border: 1px solid transparent;
  transition: .5s ease;
}
.button-deals:hover {
  background: transparent;
  color: black;
  border: 1px solid var(--primary);
  transition: .5s ease;
}

.news-letter {
  background: gray;
}



/* Blog */


.blog-wrapper{
  background: url(../src/Images/banner/b19.jpg);
  background-size: cover;
  width: 100%;
  height: 30vh;
  justify-content: center;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}